#box{
    display: grid;
    border: 2px solid black;
    width:500px;
    height:500px;
    grid-template:fr fr fr/fr fr fr;
}
#box div{
    display: grid;
    margin: 1px;
    border: 2px solid black;
    grid-template: fr fr fr/fr fr fr;
    position: relative;
}

#box div:nth-of-type(3n){
    grid-column: 3;
}
p{
    width: 40px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    background: url("sprite.png") -40px -120px;
}

#box div div{
    border: 2px solid black;
}
#control{
    display:grid;
    border: 2px solid black;
    width: 500px;
    height: 50px;
    grid-template: fr fr fr fr fr fr fr fr fr/fr;
}

#control div{
    border: 2px solid black;
}

#control div:nth-of-type(9n){
    grid-column: 9;
}

#control2 {
    display:grid;
    border: 2px solid black;
    width: 500px;
    height: 50px;
    grid-template: fr fr fr/fr;
}

#control2 div{
    border: 2px solid black;
}

#control2 div:nth-of-type(3n){
    grid-column: 3;
}

.tab {
    background-color: lemonchiffon;
    overflow: hidden;
    border: 1px solid black;
    padding: 2px;
}

.tab button {
    background-color: burlywood;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    float: left;
}

.tab button:hover {
    background-color: saddlebrown;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid black;
}

.tab button.active {
    background-color: black;
}

#spacing {
    height: 20px;
}
