body{
    background-image: linear-gradient(#2C3531, #1a777a, #2C3531);
}

#topBar{
    height: 85px;
    margin: auto;
    width: 516px;
}
.topBarButton{
    background-color: #1a777a;
    padding: 15px;
    font-size: 15px;
    border: none;
    width: 85px;
    margin-right: 2px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
  }
  #topBar #click{
    background-color: #1a777a;
    padding: 15px;
    font-size: 15px;
    border: none;
    width: 109px;
    margin-right: 2px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
  }
  .tabButton {
    background-color: #1a777a;
    padding: 15px;
    font-size: 15px;
    border: none;
    margin-right: 2px;
    width: 126px;
    color: rgb(255, 255, 255);
  }
  .tab {
    position: relative;
    display: inline-block;
  }
  .tab-options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .tab-options button {
    padding: 12px 12px;
    font-size: 14px;
    display: block;
    width: 126px;
    background-color: #b2f1f3;
    border: solid #166466 1px;
  }
  .tab-options button:hover {background-color: #1a777a; color: white;}
  .tab:hover .tab-options {display: block;}
  .tab:hover .tabButton {background-color: #166466;}



#classic{
    display: grid;
    border: 4px solid white;
    margin:2px;
    width:492px;
    height:485px;
    margin: auto;
    border-collapse: collapse;
}
#hyper{
    display: grid;
    border: 4px solid white;
    margin:2px;
    width:492px;
    height:485px;
    margin: auto;
    border-collapse: collapse;
    display: none;
}
.cell{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 33px;
}
.hypercell{
    background-color: rgb(21, 39, 121);
}
.cellnumber{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    color: white;
}
td:focus{
    box-shadow: 0px 2px lightblue;
    background-color: rgb(61, 4, 39);
}
.cell:nth-of-type(3n):not(:last-of-type){
    border-right: 5px solid white;
}
.row .cell{
    border-bottom: 5px solid white;
}


#spacing{
    height: 10px;
}
  


#control{
    display:grid;
    border: 1px solid rgb(255, 255, 255);
    width: 494px;
    height: 43px;
    margin: auto;
    border-collapse: collapse;
}
#control div{
    border: 1px solid white;
}
#control div:nth-of-type(9n){
    grid-column: 9;
}
.numbers{
    width: 53px;
    height: 43px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 33px;
    color: rgb(255, 255, 255);
    cursor: grabbing;
}
.active, .numbers:hover {
    background-color: rgb(61, 4, 39);
  }




